body {
    /* body border only for visualising body size*/
    margin: 0 0.5em;
    /*background-color: rgb(39, 39, 39); DARK THEME*/
    background-color: whitesmoke;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    width: 380px;  

}

/* Remove link CSS */
a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.space-between { 
    justify-content: space-between; 
}  

.rangeSlider {
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 3px;
}
